#services {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url(/images/pic\ 3.jpg), radial-gradient(#bdc3c7, #2c3e50);
  background-blend-mode: soft-light;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin-bottom: 50px;
}
