.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.head_box {
  margin: 50px;
  color: white;
}

.heading {
  font-size: 80px;
}

.head_description {
  font-size: 50px;
}
