.nav-links.active {
    z-index: 100;
    top: 0;
    right: 0;
    opacity: 5;
  }

  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    
    width: 95%;
    margin: auto;
    

    padding: 20px;

    list-style-type: none;
    background-color: grey;
    border-radius: 5px;
    
    
    text-transform: uppercase;
    gap: 20px;
    font-family: sans-serif;
    /* transition: all 0.6s linear; */
    /* z-index: 100; */
    
  }